/* #background {
    position: fixed;
    height: 100%;
    width: 100%;
    background:
        repeating-radial-gradient(circle at top left,
            var(--primary) 0%,
            var(--secondary) 50%,
            var(--primary) 100%),
        repeating-radial-gradient(circle at top right,
            green 0%,
            rgba(255, 255, 255, 0) 40%,
            rgba(0, 255, 85, 0.568) 100%);

    background-size: 1800% 1800%;

    background-blend-mode: multiply;
    animation: background 18s ease infinite;
    z-index: -1;
}

@keyframes background {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
} */